@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aquamarine;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#tela-celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background-color: rgba(255, 99, 71, 0);
    background-image: url('../imagens/frame-iphone.png');
    border-radius: 10%;
}

#tela-celular iframe {
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 269px;
    height: 473px;
    border: none;
    background-color: turquoise;
}

#icones {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

#icones img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: 0.5s;
}

#icones img:hover {
    margin-right: 10px;
    transition: 0.5s;
}