@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100vw;
    
}

a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(100, 148, 237);
    position: fixed;
    line-height: 45px;
    width: 100vw;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -10px;
    bottom: 0;
    transition: 0.5s;
    }

a:hover {
    transition: 0.5s;
    background-color: rgb(24, 82, 255);
}